/* gradient heading */
.main-heading {
  display: inline-block;
  margin: 2rem 0;
  font-style: normal;
  font-weight: 600;
  background: linear-gradient(
    85deg,
    #ef4444,
    #f43f5e,
    #d946ef,
    #8b5cf6,
    #6366f1,
    #3b82f6,
    #0ea5e9,
    #06b6d4,
    #14b8a6,
    #10b981,
    #22c55e
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 150% 150%;
  animation: gradient 5s ease infinite;
  line-height: 1.2;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
