---
import { IHeroProps } from "@types";


const { name, about } = Astro.props as IHeroProps;
---

<section>
  <p class="dark:text-gray mt-[110px] text-lg">Hi , I’m</p>
  <h1 class="py-2">{name}</h1>
  <p class="dark:text-gray text-lg mb-48 sm:w-1/2">
    {about}
  </p>
</section>